testcase.csv
tr_xlsxpreviewer_linux_amd64
tr_xlsxpreviewer_macos
tr_xlsxpreviewer_win_amd64.exe
~*.xlsx

# Default ignored files
/.idea
/.idea/shelf/
/.idea/workspace.xml

# Datasource local storage ignored files
/.idea/dataSources/
dataSources.local.xml

# Editor-based HTTP Client requests
/.idea/httpRequests/
rest-client.private.env.json
http-client.private.env.json