<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Preview</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css">

    <script src="/js/pagedown/Markdown.Converter.js"></script>
    <script src="/js/pagedown/Markdown.Sanitizer.js"></script>
    <script src="/js/pagedown/Markdown.Editor.js"></script>

</head>
<body>
<div id="app">
    <v-app v-cloak>
        <v-toolbar dense light>
            <v-toolbar-title>Preview</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn flat href="/api/downloadCsv">
                    <v-icon light>mdi-download</v-icon>CSV download
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-container fluid grid-list-md>
            <div>
                <div><a href="http://docs.gurock.com/testrail-userguide/userguide-editor" target="_blank">Official Markdown Reference</a></div>
                <div><small>Keyboard shortcut:</small> [←]: show previous test case. / [→] show next test case.</div>
            </div>
            <v-data-iterator
                    :items="items"
                    :rows-per-page-items="rowsPerPageItems"
                    :pagination.sync="pagination"
                    content-tag="v-layout"
                    row
                    wrap
                    loading="loading"
                    ref="dataiterator"
            >
                <v-flex
                        slot="item"
                        slot-scope="props"
                        xs12
                        sm12
                        md12
                        lg12
                >
                    <v-card>
                        <v-card-title class="testcase-breadcrumbs">
                            <v-breadcrumbs divider=">">
                                <v-breadcrumbs-item
                                        v-for="section in props.item.Sections"
                                        :key="section"
                                >
                                    {{ section }}
                                </v-breadcrumbs-item>
                            </v-breadcrumbs>
                            /&nbsp;&nbsp;<h4>ID: {{ props.item.ID }}</h4>
                        </v-card-title>
                        <v-divider></v-divider>
                        <v-card-text>
                            <v-container fluid grid-list-md class="testcase-header">
                                <v-card flat>
                                    <v-card-title class="testcase-title">
                                        <div>
                                            <div class="subtitle">Title</div>
                                            <span class="title">{{ props.item.Title }}</span>
                                        </div>
                                    </v-card-title>
                                </v-card>
                                <v-layout row wrap>
                                    <v-flex
                                            xs12
                                            sm6
                                            md4
                                            lg3
                                    >
                                        <v-card dark>
                                            <v-card-title>
                                                <div>
                                                    <div class="body">Type</div>
                                                    <span class="subtitle">{{ props.item.Type }}</span>
                                                </div>
                                            </v-card-title>
                                        </v-card>
                                    </v-flex>
                                    <v-flex
                                            xs12
                                            sm6
                                            md4
                                            lg3
                                    >
                                        <v-card dark>
                                            <v-card-title>
                                                <div>
                                                    <div class="body">Priority</div>
                                                    <span class="subtitle">{{ props.item.Priority }}</span>
                                                </div>
                                            </v-card-title>
                                        </v-card>
                                    </v-flex>
                                </v-layout>
                                <v-layout column wrap>
                                    <v-flex mt-2 mb-2>
                                        <h3>Preconditions</h3>
                                        <v-divider></v-divider>
                                        <div class="tr-markdown"
                                             v-html="convertMarkdownToHtml(props.item.Preconditions)"></div>
                                    </v-flex>
                                    <v-flex mt-2 mb-2>
                                        <h3>Steps</h3>
                                        <v-divider></v-divider>
                                        <div class="tr-markdown" v-html="convertMarkdownToHtml(props.item.Steps)"></div>
                                    </v-flex>
                                    <v-flex mt-2 mb-2>
                                        <h3>ExpectedResult</h3>
                                        <v-divider></v-divider>
                                        <div class="tr-markdown"
                                             v-html="convertMarkdownToHtml(props.item.ExpectedResult)"></div>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-data-iterator>
        </v-container>
        <v-snackbar
                v-model="snackbar"
                left
                top
                :timeout="snackbarTimeout"
        >
            {{ snackbarText }}
            <v-btn
                    color="pink"
                    flat
                    @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>